// tapcolor 点击出现的边框
@mixin setTapColor($c:rgba(0,0,0,0)) {
    -webkit-tap-highlight-color: $c;
}

//user action 用户行为 复制文字等
@mixin no_select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
